<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!--Enlance estilo del Home.Css-->
  <link rel="stylesheet" href="Css/Style_Homepage.css">
  <!--Enlance Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="imagenes/Logo_Principal.png" alt="Bootstrap" width="150" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto ">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Que hacemos</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Servicio</a>
        </li>
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quienes somos
          </a>
          <ul class="dropdown-menu mx-2">
            <li><a class="dropdown-item" href="#">Mision</a></li>
            <li><a class="dropdown-item" href="#">Vision</a></li>
            <li><a class="dropdown-item" href="#">Automatizacion de procesos</a></li>
            <li><a class="dropdown-item" href="#">Mejora de procesos</a></li>
            <li><a class="dropdown-item" href="#">Agricultura de precision.</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Contactanos</a></li>
          </ul>


        </li>
      </ul>
      <div class="col-lg-4 mx-auto">
        <div sec:authorize="!isAuthenticated()" >
          <a th:href="@{/oauth2/authorization/okta}" class="btn btn-secondary btn-sm px-3 ms-3 " >Login</a>
        </div>
        <div sec:authorize="isAuthenticated()" >
          <a th:href="@{/logout}" class="btn btn-secondary btn-lg px-2 gap-3 ">Salir</a>
        </div>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div id="carouselExample" class="carousel slide mx-4"  >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/11620149/pexels-photo-11620149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="first slide">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/11620150/pexels-photo-11620150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/9263534/pexels-photo-9263534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="three slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container bg-primary my-2">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

    </div>
  </div>
</div>
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto"><div class="small m-0">Derechos de autor</div></div>
      <div class="col-auto">
        <a class="small" href="#!">Privacidad</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Grupo</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Contactanos</a>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>